<footer class="row-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <h5>Ссылки</h5>
        <ul class="list-unstyled">
          <li><a href="/">Главная</a></li>
          <li><a href="catalog.html">Каталог</a></li>
          <li><a href="services.html">Доп услуги</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
      <div class="col-xs-9">
        <h5>Наш адрес</h5>
        <address>
          13 км от МКАД, Московская область, село <br>
          Тарасовка, Большая Тарасовская улица, 111 <br>
          ТК "Тарасовка", Павильон 9а<br/>

          <span class="glyphicon glyphicon-phone"></span> +7 (916) 467-24-14<br>
          <i class="glyphicon glyphicon-phone"></i> +7 (925) 789-21-10<br>
          <i class="glyphicon glyphicon-envelope"></i>
          <a href="mailto:deha.59@mail.ru"> deha.59@mail.ru</a>
        </address>
      </div>

      <div class="col-xs-12">
      <p style="padding:10px;"></p>
      <p>© 2016 created by <a href="http://fb.com/sadedv">Dmitry Sadovnikov</a></p>
      </div>
    </div>
  </div>
</footer>