<!--<div class="container">-->
  <!--<div class="row row-content">-->
    <!--<div class="col-xs-12 col-sm-12">-->
      <!--<p>Раздел в разработке</p>-->
    <!--</div>-->

    <!--<div class="col-xs-4">-->

    <!--</div>-->
    <!--<div class="col-xs-8">-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->