<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 main">
      <!--<h4 ><em>Здравствуйте, мы предлагаем качественную продукцию из ангарской сосны, сибирской-->
        <!--лиственницы и кедра</em></h4>-->
      <p>Компания АСЛЕС – надежный поставщик высококачественных экологически чистых строительных материалов из ангарской сосны, лиственницы и кедра.</p>
      <p>Наши преимущества:</p>
      <ul style="text-align: left">
        <li>Более 15 лет на рынке строительных материалов</li>
        <li>Собственный склад в Подмосковье</li>
        <li>Возможность оценить качество материалов перед покупкой в нашем торговом павильоне</li>
        <li>(бесплатная) Доставка материалов по Москве и Московской области</li>
      </ul>
    </div>

    <div class="col-xs-12 hidden-sm hidden-md hidden-lg" style="padding: 20px; text-align: center">
      <%= image_tag("logobiggreen.png", :size => "180x180") %>
    </div>

    <div class="hidden-xs col-sm-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag "pine.jpg"%>
        </div>

        <div class="item">
          <%= image_tag "larch.jpg"%>
        </div>

        <div class="item">
          <%= image_tag "cedar.jpg"%>
        </div>

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</div>

