<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-12">
      <ul>
        <li>Доставка в Москву и Подмосковье</li>
        <li>Выезд на замер</li>
        <li>Расчет материала по Вашему проекту</li>
      </ul>
      <p style="padding-top: 20px">За более подробной информацией о характеристиках различных пород дерева, а также по вопросам расчета
        необходимого количества строительных материалов обращайтесь к нашим специалистам по телефонам +7 (916)
        467-24-14, +7 (925) 789-21-10 или в нашем торговом павильоне.</p>
    </div>
  </div>
</div>