/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

$bgDefault: #77bb97
$bgHighlight: #57a47c
$colDefault: #fbfcf0
$colHighlight: #303030
$grey: #8c8c8c


body
  font-family: awesom,sans-serif
  background-color: $colDefault
  padding: 50px 0px 0px 0px

.row-header
  margin: 0 auto
  padding: 0

.row-content
  padding: 50px 0px 50px 0px

html, body
  height: 100%
  width: 100%

.wrapper
  min-height: 100%
  height: auto !important
  margin: 0 auto -210px

.row-footer
  background-color: $grey
  font-size: 80%
  margin: 0px auto
  padding: 20px 0px 20px 0px

.row-footer, .push
  height: 210px

h5,p,a
  color: $colHighlight

p, a:active
  color: $colHighlight

a:hover
  color: $colDefault
  text-decoration: none


.to_black:hover
  color: $grey
  text-decoration: none

#center
  text-align: center
  color: $bgDefault

address
  /*font-size: 80% */
  margin: 0
  color: $colHighlight

/*Navigation Bar*/
.navbar-inverse
  background: $bgDefault
  color: $colDefault
  border-color: $bgDefault

.navbar-inverse .navbar-nav > .active > a
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .active > a:hover
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .active > a:focus
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a:hover
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a:focus
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
  color: $colDefault
  background-color: $bgHighlight

.navbar-inverse .navbar-toggle
  background-color: $bgHighlight
  border-color: $bgHighlight

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
  background-color: $bgHighlight

.navbar-inverse .navbar-toggle .icon-bar
  background-color: $colDefault

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
  border-color: $bgHighlight

.navbar-inverse .navbar-brand
  color: $colDefault

.navbar .nav > li > a
  color: $colDefault

.navbar-brand
  padding: 5px 15px
/****************/

//Carousel
#myCarousel
  align-self: center
  width: 80%
  margin: 0 auto

#catalogCarousel
  align-self: center
  margin: 0 auto
  .carousel-inner > .item > img
    height: 350px
    width: auto
    margin: 0 auto


.carousel-control.left, .carousel-control.right
  background-image: none

.carousel-indicators li
  background-color: $bgDefault

.carousel-indicators .active
  background-color: $bgHighlight

//Tables

.sort-table
  width: 100%

  td
    table-layout: auto
    padding-left: 20px

  th
    text-align: center
    color: #fff
    background-color: #666
    height: 40px
    margin: 10px
    a
      color: $colDefault

  tr:nth-child(even)
    background: #fff

  tr:nth-child(odd)
    background: #eee

  td:last-child
    flex: 1
    display: inline-block

  th .current
    padding-right: 12px
    background: no-repeat right center

  th .asc
    background-image: url(up.ico)

  th .desc
    background-image: url(down.ico)

  li
    list-style-type: none

.productTitle
  text-align: left
  vertical-align: bottom

/****************/
