/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

$bgDefault: #77bb97
$bgHighlight: #57a47c
$colDefault: #fbfcf0
$colHighlight: #303030
$grey: #8c8c8c


body
  font-family: awesom, sans-serif
  background-color: $colDefault
  padding: 50px 0px 0px 0px
  color: #432e2a

.row-header
  margin: 0 auto
  padding: 0

.row-content
  padding: 50px 0px 50px 0px

html, body
  height: 100%
  width: 100%

.wrapper
  min-height: 100%
  height: auto !important
  margin: 0 auto -230px

.row-footer
  background-color: $grey
  font-size: 80%
  margin: 0px auto
  padding: 20px 0px 20px 0px
  h5,p,a,a:active
    color: $colHighlight

.row-footer, .push
  height: 230px


a:hover
  color: $colDefault
  text-decoration: none


.to_black:hover
  color: $grey
  text-decoration: none

.main
  text-align: center

address
  /*font-size: 80% */
  margin: 0
  color: $colHighlight

//  catalog
.col-xs-12
  .center
    text-align: center

//

/*Navigation Bar*/
.navbar-inverse
  background: $bgDefault
  color: $colDefault
  border-color: $bgDefault

.navbar-inverse .navbar-nav > .active > a
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .active > a:hover
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .active > a:focus
  background: $bgHighlight
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a:hover
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > .open > a:focus
  background: $bgDefault
  color: $colDefault

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
  color: $colDefault
  background-color: $bgHighlight

.navbar-inverse .navbar-toggle
  background-color: $bgHighlight
  border-color: $bgHighlight

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus
  background-color: $bgHighlight

.navbar-inverse .navbar-toggle .icon-bar
  background-color: $colDefault

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
  border-color: $bgHighlight

.navbar-inverse .navbar-brand
  color: $colDefault

.navbar .nav > li > a
  color: $colDefault

.navbar-brand
  padding: 5px 15px
/****************/

//Carousel
#myCarousel
  align-self: center
  width: 80%
  margin: 0 auto
  padding-bottom: 20px
  .carousel-text
    padding-top: 40px
    text-align: center
    li
      margin-top: 10px
    ul
      list-style: none
      padding: 0

#catalogCarousel
  align-self: center
  margin: 0 auto
  img
    width: auto
    height: 225px
    max-height: 225px
    margin: 0 auto
  h3
    font-size: 14px

.imgCat
  width: auto
  height: 225px
  max-height: 225px
  display: block
  margin-left: auto
  margin-right: auto

.carousel-control.left, .carousel-control.right
  background-image: none

.carousel-indicators
  bottom: 0px

.carousel-indicators li
  background-color: $bgDefault

.carousel-indicators .active
  background-color: $bgHighlight

.carousel-caption
  bottom: 0px
  color: #444444
  text-align: center
  text-shadow: none
  //text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6)

//Tables

.sort-table
  width: 100%

  td
    table-layout: auto
    padding-left: 20px

  th
    text-align: center
    color: #fff
    background-color: #666
    height: 40px
    margin: 10px

    a
      color: $colDefault
    .current
      padding-right: 12px
      background: no-repeat right center
    .asc
      //background-image: url(https://ost.ac/images/uparrow.png)
      background-image: url(uparrow.png)
    .desc
      //background-image: url(https://ost.ac/images/downarrow.png)
      background-image: url(downarrow.png)
    //.asc, .desc
      //filter: invert(100%)
      //color: #000000

  tr:nth-child(even)
    background: #fff

  tr:nth-child(odd)
    background: #eee

  td:last-child
    flex: 1


  li
    list-style-type: none

.productTitle
  vertical-align: bottom
  padding-bottom: 20px
  @media (max-width: 969px)
    text-align: center
  @media (min-width: 970px)
    text-align: left


/****************/
