<div class="btn-group-vertical" role="group" aria-label="Basic example">
  <% arr = Product.select("DISTINCT(name)").order("name") %>
  <% arr.each do |p| %>
      <% name = p.name %>
      <%= link_to(name, catalog_path + '/' + name, class: "btn btn-default") %>

  <% end %>
</div>