<p id="notice"><%= notice %></p>


<div class="container">
  <div class="row row-content">
    <div class="col-xs-6 col-sm-4">
      <%= render 'products/list' %>
    </div>
    <div class="col-xs-6 col-sm-8">

    </div>
  </div>
</div>