<div class="container">
  <div class="row row-content">
    <div class="col-xs-12">
      <h1>Редактировать продукт</h1>

      <%= render 'form', product: @product %>

      <%= link_to 'Смотреть', @product %> |
      <%= link_to 'Назад', products_path %>
    </div>
  </div>
</div>
